<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title
        ><img
          mat-card-sm-image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Movies_%26_TV_films_2016.svg/500px-Movies_%26_TV_films_2016.svg.png"
          alt="logo"
      /></mat-card-title>
    </mat-card-header>
    <form
      class="public-form"
      [formGroup]="registerForm"
      (ngSubmit)="handleSignUp(registerForm.value)"
    >
      <mat-card-content>
        <mat-form-field class="public-form-full-width">
          <input
            matInput
            placeholder="Nombres"
            formControlName="firstName"
            name="firstName"
          />
          <mat-error *ngIf="registerForm.controls['firstName'].errors">
            {{getInputErrorMessage('firstName', registerForm.controls['firstName'].errors)}}
          </mat-error>
          <!-- <mat-error *ngIf="RegisterValidationsMessages.firstName">{{'El nombre es obligatorio'}}</mat-error> -->
        </mat-form-field>
        <mat-form-field class="public-form-full-width">
          <input
            matInput
            placeholder="Apellidos"
            formControlName="lastName"
            name="lastName"
          />
          <mat-error *ngIf="registerForm.controls['lastName'].errors">
            {{getInputErrorMessage('lastName', registerForm.controls['lastName'].errors)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="public-form-full-width">
          <input
            matInput
            placeholder="Correo Electrónico"
            formControlName="email"
            name="email"
          />
          <mat-error *ngIf="registerForm.controls['email'].errors">
            {{getInputErrorMessage('email', registerForm.controls['email'].errors)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="public-form-full-width">
          <input
            matInput
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            name="password"
          />
          <mat-error *ngIf="registerForm.controls['password'].errors">
            {{getInputErrorMessage('password', registerForm.controls['password'].errors)}}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <button
          mat-raised-button
          color="primary"
          class="btn-block"
          [disabled]="!registerForm.valid"
        >
          <mat-icon>login</mat-icon> Registrar
        </button>
      </mat-card-content>
    </form>
    <mat-card-content>
      <a mat-raised-button color="basic" class="btn-block" routerLink="/login">
        <mat-icon>arrow_back_ios</mat-icon> Regresar
      </a>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #templateModal>
  <h2 mat-dialog-title>Aviso</h2>
  <mat-dialog-content>
    <mat-label>{{ message }}</mat-label>
  </mat-dialog-content>
  <mat-dialog-actions style="margin-top: 15px; justify-content: right">
    <button mat-raised-button class="mat-primary" mat-dialog-close>Ok</button>
  </mat-dialog-actions>
</ng-template>
